fastapi
uvicorn
gunicorn
faiss-cpu
python-multipart
langchain-community
langchain-groq
langchain-core
asyncio
PyPDF2
pypdf
langdetect
groq
validators
urllib3
python-magic
aiohttp
tqdm
jinja2
transformers
sentence-transformers